<main>
    <h1>Blog Posts</h1>
    <p n:if="$posts->isEmpty()" class="no-posts">There are no posts yet.</p>
    <ul n:if="!$posts->isEmpty()" class="post-list">
        {foreach $posts->items as $post}
            {include 'blog::post/list/item', post: $post}
        {/foreach}
    </ul>
    {if !$posts->isEmpty()}
        {include 'blog::pagination/index', pagination: $posts, baseUrl: '/blog'}
    {/if}
</main>
